# MEDIAWIKI_URL=http://wiki.local/
# MEDIAWIKI_API_URL=http://wiki.local/api.php
# MEDIAWIKI_NAMESPACES=5002,5004
# PERSISTENT_STORAGE_DIR=mediawiki_index
# # MODEL_PATH=../codellama-13b-instruct.Q4_K_M.gguf
MODEL_PATH=./src/models/codellama-7b-instruct.Q4_K_M.gguf
# # MODEL_PATH=./models/codellama-13b-instruct.Q4_K_M.gguf
MW_BEARER_TOKEN=changeme


## ConfIDent
MEDIAWIKI_URL=https://www.confident-conference.org/index.php/
MEDIAWIKI_API_URL=https://www.confident-conference.org/api.php
# https://github.com/gesinn-it-pub/docker-confident/blob/main/context/LocalSettings.Custom.php
MEDIAWIKI_NAMESPACES=7200       # Events
MEDIAWIKI_APFROM="01"
MEDIAWIKI_APTO="02"
PERSISTENT_STORAGE_DIR=./indexes/confident_index
# MODEL_PATH=./models/codellama-13b-instruct.Q4_K_M.gguf
##